@(buildingJson: play.api.libs.json.JsValue)
@layouts.default {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/building.css")">
} {
	<div id="loading">
		<div>
			Loading...
		</div>
	</div>

	<div id="gui">
		<div class="viewport"></div>
		<div class="sidebar">
			<a class="back-to-map" href="@arch.controllers.routes.ArchController.index">
				<img class="map-logo" src="@routes.Assets.at("images/map-icon.png")">
				<div>Back to map</div>
			</a>
		</div>
		<div class="button-bar" style="position:fixed; right: 10px; top: 60px">
			<button id="zoom-in-button" class="button button-blue" title="Zoom in">+</button>
			<button id="zoom-out-button" class="button button-blue" title="Zoom out">-</button>
		</div>
		<div class="title-bar"></div>
	</div>

	<div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		@helpers.script("building", "javascripts/building.js")
		<script>
			var client = new arch.client.BuildingClient;
			client.setBuildingData(@Html(buildingJson.toString));
			$('#loading').fadeOut(200);
		</script>
	</div>
}
