@()
@layouts.default {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/common.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/map.css")">
} {
	<div id="gui">
		<div class="world-map-container">
			<img class="world-map" src="@routes.Assets.at("images/world-map.svg")" style="display:none">
		</div>
	</div>

	<div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		@helpers.script("map", "javascripts/map.js")
		<script>
			var client = new arch.client.MapClient;
			$('.world-map').show();
		</script>
	</div>
}
