body {
	height: 100%;
	font-family: Arial, sans-serif;
	margin: 0;
}

.viewport, .sidebar {
		-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
}

#loading > div {
	position: absolute;
	top: 40%;
	right: 0;
	left: 0;
	font-size: 32px;
	text-align: center;
	color: #333;
}

.title-bar {
	position: fixed;
	height: 30px;
	line-height: 30px;
	left: 0;
	right: 0;
	background: #02025A;
	text-align: center;
	font-size: 14px;
	color: #fff;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.8);
	z-index: 25;
}

.sidebar {
	position: absolute;
	top: 30px;
	bottom: 0;
	width: 120px;
	background: #eee;
	border-right: 1px solid #222;
	z-index: 20;
}

.viewport {
	position: absolute;
	top: 30px;
	right: 0;
	bottom: 0;
	left: 120px;
	overflow: hidden;
}


.cursor-grab {
	/* TODO: remove Gmail dependency */
	cursor: url(//mail.google.com/mail/images/2/openhand.cur), move;
	cursor: url(//mail.google.com/mail/images/2/openhand.cur) 8 8, move;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

.cursor-grabbing {
	/* TODO: remove Gmail dependency */
	cursor: url(//mail.google.com/mail/images/2/closedhand.cur), move;
	cursor: url(//mail.google.com/mail/images/2/closedhand.cur) 8 8, move;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.shape {
	position: absolute;
	display: inline-block;
}

.shape img {
	/*
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(2px,2px);
	*/
}

.icon-button {
  display: block;
  text-align: center;
  cursor: pointer;
  opacity: .75;
  font-size: 13px;
  line-height: 13px;
  color: #000;
  text-decoration: none;
  margin: 28px auto 28px auto;
}

.icon-button img {
	width: 48px;
	height: 48px;
}

.icon-button.disabled {
  opacity: .5 ! important;
}

.icon-button:first-child {
  margin-top: 20px;
}

.icon-button:hover {
  opacity: initial;
}

.icon-button .map-logo {
  height: 48px;
  width: 48px;
}

.icon-button .lightbulb-logo {
  height: 42px;
  width: 42px;
  margin-bottom: 5px;
}

.icon-button .zoom-in-logo, .icon-button .zoom-out-logo {
  height: 34px;
  width: 34px;
  margin-bottom: 8px;
}