body {
	height: 100%;
	font-family: Arial, sans-serif;
	margin: 0;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
}

.world-map-container {
	position: absolute;
	display: block;
	margin: auto;
	top: 50%;
}

.world-map {
	width: 100%;
	height: 100%;
}

.card {
	display: block;
	position: absolute;
	width: 230px;
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,.5);
	padding: 10px;
	background: #fff;
	transition: box-shadow .1s ease;
}

.card:hover {
	box-shadow: 2px 2px 10px 4px rgba(0,0,0,.7);
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
}

.card-image {
	width: 100%;
}

.card-title {
	margin-top: 10px;
	text-align: center;
}

.check {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 25px;
	height: 25px;
	background: rgba(0,0,0,.5) url(/assets/images/check.png) center no-repeat;
	background-size: 21px 21px;
}
